.container {
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 25%;
  float: left;
  background-color: lightblue;
  height: 100%;
}

.map {
  width: 75%;
  background-color: purple;
  height: 100%;
  margin-left: 25%;
}
